/* Variables */
/* Small Navigation */
.logo-small {
  float: right; }

.title-bar {
  padding: 0 .5rem;
}
.top-bar, .top-bar ul {
    background-color: white;
}
.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px; }

/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {
  .logo-wrapper {
    position: relative; }
    .logo-wrapper .logo {
      width: 118px;
      height: 92px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: -6px;
      margin-left: -59px; }

  .top-bar-right {
    width: 50%; }
    .top-bar-right ul {
      float: left; }

  .top-bar-left {
    width: 50%;
    padding-right: 86px; }
    .top-bar-left ul {
      float: right; } }

.title-bar img{

   height:45px;
}
.logo img{

    height:50%;
}

.top-bar-left ul li:first-child a{
    color:orange;
}
.row{
   height:100%;
   max-width:100%;
   position:absolute;
   z-index:998;
}
.columns{
  padding:0em;
}
.image-overlay-content {
  color:white;
  width: auto;
  height: 10%;
  position: absolute;
  top: 50%;
  left: 40%;
  z-index:999;
  text-align: center;
}